<h1>Your Subscription</h1>
<button><a href="/sessions/logout">Log Out</a></button>
<br><br>
<div class="nav">
<ul>
    <li>
        <button><h3><a href='/users/homepage'>Home</a></h3></button>
    </li>
    <li>
        <button><h3><a href="/products">Browse Products</a></h3></button>
    </li>
    <li>
    <button><h3><a href="/subscriptions">My Subscriptions</a></h3></button>
    </li>
</ul>
</div>
<br>
<p>Here is your current subscription:</p>
<h4>Product: <%=@subscription.product.name%></h4>
<p>Brand: <%=@subscription.product.brand%><br>Product Type: <%=@subscription.product.product_type%></p>
<h4>Your subscription: <%=@subscription.frequency%></h4>
<button><h4><a href="/subscriptions/<%=@subscription.id%>/edit">Edit Subscription</a></h4></button>